body {
    background-color: #f0f0f0;
}

div {
    font-family: 'CactronRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;

    color: #464646;
    color: inherit;
    
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;

    top: 0;

    padding: 10px;
    width: 100%;

    background-color: #204472;
    color: white;

    margin-bottom: 5%;
}

header div {
    display: inline-block; 
    text-align: center; 
    width: 100%;
}

#test {
    float: left;
    width: 260px;
}

header img {
    width: 85%;
    border: solid;
    border-color: #295793;
    border-width: 10px;
    
    margin-left: 10px;
}

header h1 {
    left: 10em;
}

#consultingImage {
    float: right;
    width: 40%;
    margin: 10px;
}

#consultingImage img {
    object-fit: cover;
    width: 100%;
}

.clear {
    clear: both;
}

#content {
    width: 1280px;
    margin: auto;
}
